{
    font-family: 'Eczar', serif;
    font-size: large;
}

a{
    text-decoration: none;
    color: inherit;
}

.logo{
    width: 250px;
}

.nav-item{
    align-self: center;
}

/*THIS PAGE SPECIFIC CSS BELOW*/

.success {
color: green;
text-align: center;
font-weight: bold;
}

.subTitle {
text-align: center;
}

.messageCard {
background-color: #EFEFEF;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 10px;
padding: 15px;
border-radius: 25px;
}

.leftSide {
float: left;
margin-right: 15px;
}

.seat {
text-align: center;
font-size: 30px;
font-weight: bold;
}


@media only screen and (max-width: 740px) {

.btn-secondary {
display: block;
margin-bottom: 5px;
}

.btn-success {
display: block;
margin-bottom: 5px;
}

.btn-danger {
display: block;
margin-bottom: 5px;
}

}

@media only screen and (max-width: 600px) {

#umbrella {
height: 100px; width: 100px;
}

.mainText {
          float: left;
}

.messageCard {
height: 500px;
}


}